*{
    box-sizing: border-box;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    margin: 0;
    background-color: #282D35;
}

nav {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: rgb(33, 34, 42);
    box-shadow: 5px 5px 5px rgba(33, 34, 42, 0.8)
}
.nav-heading, .nav-title{
    margin: 0;
}
.nav-heading{
    margin-right: auto;
    font-size: 50px;
    
    font-weight: 400px;
    color: #61DAFB;
}
.nav-title{
    padding: 10px;
    font-size: 30px;
    font-weight: 300px;
    color: #DEEBF8;
}
.react-icon{
    margin-left: 10px;
    margin-right: 10px;
    width: 45px;
    height: 50px;
}
main{
    padding: 60px 30px;
    font-weight: 500px;
    color: white;
    background-image:url("../src/images/6r0jx20eopajy1gvz3m5\ \(1)\.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
}
.main-h1{
    margin:0;
    font-size: 50px;
}
.main-li{
    padding-left: 40px;
    margin-top: 30px;
}
.main-li > li {
    padding-block: 12px;
    font-size: 20px;
}
.main-li > li::marker{
    font-size: 1.4rem;
    color:#61DAFB;
}
footer{
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: grey;
}